# day la comment, khong co tac dung ignore files/folders
# alo alo/ => git khong theo doi thu muc alo
alo


# chung ta se bo qua tat ca cac file co duoi .log
*.log


# I want to ignore abc.xyz but still strack myfile.xyz
# All .xyz files will be ignored in the git repo
/*.xyz

# I want to ignore abc.txt in the second_folder.
# Ubuntu uses "/" as the path separator
# Windows uses "//" or "\" as the path separator
second_folder/abc.txt
